node_modules/
package-lock.json
secret.txt

curl --request POST \
  --url https://circleci.com/api/v2/project/github/RuaraidhJC/simple-cicd-project/pipeline \
  --header 'Circle-Token: c2d8f259055e6312e52864e6fcae127448d7fe1f' \
  --header 'content-type: application/json' \
  --data '{"parameters":{"run-secret-workflow":true}, "branch":"4-runner-and-secrets"}'
